.v-main__wrap h1
  color: $off-white
  
.algorithms, .data-structures
  color: $off-white
  .slide-container
    padding: 3px
    border: 2px solid $dark-gray
    &.main
      .v-slide-group__content
        .slide-button-active
          background-color: $primary
          border-color: $primary
          color: $off-white
          font-weight: bold
    &.code
      border-color: $hacker-green
      background-color: $off-black
      .v-slide-group__content
        .v-btn
          color: $hacker-green
        .v-btn--active
          background-color: darken($hacker-green, 10%)
          color: $off-white
  .help-circle
    color: $medium-blue
  .search-input
    border: 2px solid $medium-blue
  .container-current-step
    border: 2px solid $medium-gray
    min-height: 160px
    .current-step
      &.found
        color: $primary !important
      &.not-found
        color: lighten($red, 10%) !important
      div.main
        font-size: 22pt
      div.choices
        .btn-yes
          background-color: $primary !important
        .btn-no
          background-color: $red !important
  .snackbar
    .v-sheet
      background-color: $red !important
    .v-snack__content
      font-size: 12pt
      font-weight: bold

.algorithm
  .item
    min-height: 60px
    font-size: 36pt
    background-color: $dark-blue
    color: $off-white
    border: 2px solid $medium-blue
    .v-icon
      color: $primary
  .item-selected
    border: 2px solid $hacker-green
  .item-not
    background-color: lighten($red, 10%)
  .item-found
    background-color: $primary
  .item-index
    color: $off-white
    font-weight: bold
  .btn-randomize
    background-color: $yellow !important
  .btn-reset
    background-color: $medium-gray !important
  .card-steps
    background-color: $light-gray
    font-size: 14pt
  .card-code
    background-color: $off-black
    .headline
      color: $off-white
  &.linear-search
    .highlight
      color: $off-black
      background-color: $primary

.card-code
  .line-numbers
    color: darken($off-white, 25%)
  .code
    color: $off-white !important

/* tooltips */
.tooltip-instructions
  background-color: $medium-blue

/* transitions */
.fade-enter, .fade-leave-to
  opacity: 0
.fade-enter-active, .fade-leave-active
  transition: opacity .5s